/* Slab */
.slab {
  font-weight: 300;
  font-family: 'Zilla Slab' !important;
}
.slabb {
  font-weight: 600;
  font-family: 'Zilla Slab' !important;
}

/* Format tables */
table {
  color: #000000;
  font-size: 17.5pt;
  line-height: 90%;
  border-top: 1px solid #ffffff !important;
  border-bottom: 1px solid #ffffff !important;
}
th, td {
  background-color: #ffffff;
}
table th {
  font-weight: 300;
}

.bxp {
  border: 3px solid rgba(230, 65, 115, 0.0) ;
  background-color: #EC7662 ;
  border-radius: 5px;
  transform: scale(2);
}


/* Attention */
.attn {
  font-weight: 100;
  color: #e64173 !important;
  font-family: 'Zilla Slab' !important;
}

.pull-left-60 {
  float: left;
  width: 58%;
}
.pull-right-40 {
  float: right;
  width: 40%;
}

/* Note */
.note {
  font-weight: 300;
  font-style: italic;
  color: #314f4f !important;
  /* color: #cccccc !important; */
  font-family: 'Zilla Slab' !important;
}

/* Question and answer */
.qa {
  font-weight: 500;
  /* color: #314f4f !important; */
  color: #e64173 !important;
  font-family: 'Zilla Slab' !important;
}

/* Example */
.ex {
  font-weight: 300;
  color: #cccccc !important;
  font-style: italic;
}

.col-left {
  float: left;
  width: 47%;
  margin-top: -1em;
}
.col-right {
  float: right;
  width: 47%;
  margin-top: -1em;
}

.clear-up {
  clear: both;
  margin-top: -1em;
}

.pull-left-60 {
  float: left;
  width: 58%;
}
.pull-right-40 {
  float: right;
  width: 40%;
}

.pull-up {
  margin-top: -1.25em;
}

.pull-left-up {
  float: left;
  width: 47%;
  margin-top: -1.25em;
}
.pull-right-up {
  float: right;
  width: 47%;
  margin-top: -1.25em;
}
.pull-right-up + * {
  clear: both;
}

.center-left {
  position: relative;
  top: 50%;
  transform: translateY(50%);
}
a {
  color: #EC7662;
}
.bold {
  font-weight: bold;
}
/* Bold */
.b {
  font-weight: bold;
}
.small-it {
  font-style: italic;
  font-size: 75%;
}

.it {
  font-style: italic;
}
/* Question and answer */
.qa {
  font-weight: 500;
  /* color: #314f4f !important; */
  color: #EC7662 !important;
  font-family: 'Zilla Slab' !important;
}
/* Create a highlighted class called 'hi'  */
.hi {
  font-weight: 600;
  color: #EC7662 !important;
}
.hi-pink {
  font-weight: 600;
  color: #EC7662 !important;
}
.hi-slate {
  font-weight: 600;
  color: #708090 !important;
}
.hi-turquoise {
  font-weight: 600;
  color: #44C1C4 !important;
}
.hi-purple {
  font-weight: 600;
  color: #9370DB !important;
}
.hi-orange {
  font-weight: 600;
  color: #EC7662 !important;
}
.hi-yellow {
  font-weight: 600;
  color: #FFCC77 !important;
}
.hi-green {
  font-weight: 600;
  color: #57754D !important;
}
.hi-grey {
  font-weight: 600;
  color: #A8A8AA !important;
}
.hi-blue {
  font-weight: 600;
  color: #4682B4 !important;
}
.hi-red {
  font-weight: 600;
  color: #EC7662 !important;
}
.hi-dark-purple {
  font-weight: 600;
  color: #3E4A89FF !important;
}
.hi-lime-green {
  font-weight: 600;
  color: #6DCD59FF !important;
}
/* Pink text */
.pink {
  color: #EC7662 !important;
}
/* Slate text */
.slate {
  color: #708090 !important;
}
/* Turquoise ("lightseagreen") text */
.turquoise {
  color: #44C1C4 !important;
}
/* Purple text */
.purple {
  color: #9370DB !important;
}
/* Orange text */
.orange {
  color: #EC7662 !important;
}
.yellow{
  color: #FFCC77 !important;
}
.green {
  color: #57754D !important;
}
.grey {
  color: #A8A8AA !important;
}
.blue {
  color: #4682B4 !important;
}
.red {
  color: #EC7662 !important;
}

/* Grey text */
.grey-mid {
  color: #7f7f7f !important;
}
.grey-ml {
  color: #CCCCCC !important;
}
.grey-light {
  color: #d2d2d2 !important;
}
.grey-vlight {
  color: #e5e5e5 !important;
}
/* White text */
.white {
  color: #ffffff !important;
}
.black {
  color: #000000 !important;
}

/* Mono-spaced font */
.mono {
  font-family: 'Fira Code';
}
/* Underline */
.ul {
  text-decoration: underline;
}
/* Overline */
.ol {
  text-decoration: overline;
}
.st {
  text-decoration: line-through;
}
/* Fraction */
.top{
  display:inline-block;
}
.bottom{
  border-top:solid black 1px;
  display:inline-block;
  clear:left;
}

.remark-code-line-highlighted {
  background-color: rgba(249, 39, 114, 0.5);
}

.bigger {
  font-size: 125%;
}

.smaller {
  font-size: 95%;
}

.smallest {
  font-size: 75%;
}
.smallestest {
  font-size: 30%;
}

.remark-slide-content {
  background-color: #ffffff;
  border-top: 80px solid #2c3e50;
  font-size: 24px;
  /* font-weight: 300; */
  /* line-height: 1.5; */
  /* padding: 1em 2em 1em 2em; */
}

.inverse {
  background-color: #2c3e50;
  text-shadow: 0 0 20px #333;
  /* text-shadow: none; */
}

.title-slide {
  background-color: #FAFAFA;
  border-top: 80px solid #FAFAFA;
}

.footnote {
  bottom: 1.5em;
  font-size: 70%;
}

.dark-slide {
  background-color: #2c3e50;
  border-top: 0px solid #23373B;
}
.dark-slide .remark-slide-number {
  display: none;
}

.white-slide {
  background-color: #ffffff;
  border-top: 0px solid #ffffff;
}
.white-slide .remark-slide-number {
  display: none;
}

.clear-slide {
  background-color: #ffffff;
  border-top: 0px solid #ffffff;
}
.clear {
  background-color: #ffffff;
  border-top: 0px solid #ffffff;
}

.mjx-chtml{
  font-size: 103% !important;
}

/* Mono-spaced font, smaller */
.mono-small {
  font-family: 'Fira Code';
  font-size: 20px;
}
.mono-small .mjx-chtml {
  font-size: 103% !important;
}

.pseudocode, .pseudocode-small {
  font-family: 'Fira Code';
  background: #f8f8f8;
  border-radius: 3px;
  padding: 10px;
}
.pseudocode-small {
  font-size: 20px;
}

.super{
  vertical-align: super;
  font-size: 70%;
}
.sub{
  vertical-align: sub;
  font-size: 70%;
}

.remark-code {
  font-size: 70%;
}

.inverse > h2 {
  color: #EC7662;
  font-weight: 300;
  font-size: 40px;
  font-style: italic;
  margin-top: -25px;
}
.title-slide > h2  {
  margin-top: -25px;
  padding-bottom: -20px;
  color: rgba(236,118,98,1);
  text-shadow: none;
  font-weight: 300;
  font-size: 35px;
  font-style: normal;
  text-align: left;
  margin-left: 15px;
}

.remark-inline-code {
  background: #F5F5F5; /* lighter */
  /* background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
}

.more-left {
  float: left;
  width: 63%;
}
.less-right {
  float: right;
  width: 31%;
}
.more-right ~ * {
  clear: both;
}
